<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <Link rel="stylesheet" href="style.css"/>
    <title>Employee Tracker App</title>
</head>

<body>
    <%- include(`./partials/nav.ejs`) %>
    

    </nav>
    <h2>Employee Tracker App</h2>
    <p>Welcome</p>

   
</body>

</html>