<nav>
    <div>
        <a href="/"> EMP</a>
    </div>
    <ul>

        <li>
            <a href="/employee">Home</a>
        </li>

        <li>
            <a href="/employee/add">Add</a>
        </li>

        <li>
            <a href="/employee/add">Employee list</a>
        </li>
        
    </ul>
</nav>